
<h1>Dashboard</h1>

<ul>


<li> 
<a href="http://localhost:3000//dashboard/productos" target="_blank">Productos</a>
</li>

<li> 
<a href="http://localhost:3000//dashboard/materiasprimas" target="_blank">Materias Primas</a>
</li>

<li> 
<a href="http://localhost:3000//dashboard/bodega" target="_blank">Bodega</a>

<ul>
<li>Recepcion</li>
<li>Despacho</li>
<li>Pulmon.</li>
<li>Almacen Normal 1</li>
<li>Almacen Normal 2</li>

</ul>


</li>

<li> 
<a href="http://localhost:3000//dashboard/saldobanco" target="_blank">Saldo Banco</a>
</li>

<li> 
<%=@fecha%>
</li>




</ul>





