
<br/>
<br/>
<br/>
<h3><DIV ALIGN=center>Saldo Actual</DIV></h3>
<br/>
<h3 style="color:blue;"><DIV ALIGN=center>
	<%=@saldo%>

</DIV></h3>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>