var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

var ready;
ready = function() {
  //---------------------------PAGINA INICIO------------------------------------
  var success = getUrlParameter('success');
  var idBoleta = getUrlParameter('idBoleta');
  var montoBruto = getUrlParameter('montoBruto');
  var iva = getUrlParameter('iva');
  var total = getUrlParameter('total');
  var direccion = getUrlParameter('direccion');
  var sku = getUrlParameter('sku');
  var cantidad = getUrlParameter('cantidad');
  if (success === 'true') {
    $('[data-hook="homepage_products"]').html("<h1 class='product-title' itemprop='name'> Tu Compra fue realizada con éxito.</h1><h3> Información de tu boleta </h3><div class='well' itemprop='description' data-hook='description'><b> ID Boleta: </b>"  + idBoleta + "<br /><b> Monto Bruto: </b> " + montoBruto +"<br /><b> IVA: </b>" + iva + "<br /><b> Total: </b>" + total +"<br /><b> Direccion: </b>" + direccion + "</div><div id='despachado' class='well'><h2>Despachando pedido... En caso de desear una confirmación, no cierre esta ventana.</h2></div>");
    $.ajax({
        type: "GET",
        url: "/handle_payment/despachar_producto/264f93gfwygf7sdfyb/" + idBoleta + "?direccion=" + direccion + "&sku=" + sku + "&cantidad=" + cantidad,
        success: function(data) {
          $(document).ready($('#despachado').html("<h1>¡Pedido despachado!<h1>"));
        },
        error: function(err) {
          console.log("AJAX error in request: " + JSON.stringify(err, null, 2));
          $(document).ready($('#despachado').html("<h1 style='color: red;'>ERROR. Hubo un error al despachar su pedido, por favor contactenos al teléfono 123275613987163845, anexo 582735<h1>"));
        }
      });
  } else if (success === 'false') {
    $('[data-hook="homepage_products"]').html("<h1 class='product-title' itemprop='name'>No se pudo completar tu compra.</h1><div class='well' itemprop='description' data-hook='description'>No te preocupes, el éxito es ir de fracaso en fracaso sin desesperarse...</div>");
  }

  //--------------------------PAGINA PRODUCTO-----------------------------------
  $("#add-to-cart-button").html('Comprar');

  var stock_error = getUrlParameter('enough-stock');
  if (stock_error === 'false') {
    alert('Lo lamento, ¡No tenemos suficiente stock!');
  };

  var sku;
  var productTitle;

  productTitle = $('.product-title').html();
  if (productTitle == 'Cereal Avena') {
    sku = 12;
  } else if (productTitle == 'Cuero') {
    sku = 32;
  } else if (productTitle == 'Algodon') {
    sku = 21;
  } else if (productTitle == 'Huevo') {
    sku = 2;
  } else if (productTitle == 'Tela de lino') {
    sku = 28;
  }
  $.ajax({
      dataType: "json",
      type: "GET",
      url: "/api/consultar/" + sku,
      success: function(data) {
        $('#awesome').html(data.stock);
      }
    });
  $('#product-price').after("<h6>Stock</h6><span id='awesome' class='lead price selling' itemprop='price'>loading...</span><br /><h6>Dirección de despacho</h6><input id='direccion_input' type='text' name='address'>");

  $("#add-to-cart-button").on("click", function(e) {
    e.preventDefault();
    var cantidad;
    var direccion;
    cantidad = $('#quantity').val();
    direccion = $('#direccion_input').val();
    url = window.location;

    if (direccion === '') {
      alert('Debes ingresar una dirección!');
    } else {
      window.location = "http://integra2.ing.puc.cl/handle_payment?sku=" + sku + "&cantidad=" + cantidad + "&url=" + url + '&direccion=' + direccion;
    }
  });
}

$(document).ready(ready);
$(document).on('page:load', ready);
