
</br>
</br>
</br>

<div class="containter text-center">
<h1>¡Bienvenido!</h1>


<h3>Esta es la aplicación del <span>Grupo 2</span> de Taller de Integración | IIC3103 - Sección 1 | 1' 2016</h3>

</div>

<div class="container text-center">
  <!-- <h3>Productores de</h3><br> -->
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/products/lino.png" class="img-responsive" style="width:94%" alt="Image">
      <h4>Lino</h4>
    </div>
    <div class="col-sm-4">
      <img src="/images/products/avena.png" class="img-responsive" style="width:95%" alt="Image">
      <h4>Cereal de Avena</h4>
    </div>
    <div class="col-sm-4">
      <img src="/images/products/huevos.png" class="img-responsive" style="width:95%" alt="Image">
      <h4>Huevos</h4>
    </div>
    <div class="col-sm-4">
      <img src="/images/products/cuero.png" class="img-responsive" style="width:95%" alt="Image">
      <h4>Cuero</h4>
    </div>
    <div class="col-sm-4">
      <img src="/images/products/algodon.png" class="img-responsive" style="width:95%" alt="Image">
      <h4>Algodón</h4>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>“Recuerda que los más importante respecto a cualquier empresa, es que los resultados no están en el interior de sus paredes. El resultado de un buen negocio es un cliente satisfecho.” </p>
      </div>

    </div>

  </div>
</div><br>









</body>
</html>
