<h1>Documentación API - Grupo 2</h1>
<h2>Lista de funcionalidades implementadas:</h2>
<ul>
  <li><h3>api/documentacion (GET)</h3></li>
  <p>Muestra esta página con la documentación de la aplicación.</p>
  <p>Parámetros: Ningungo</p>
  <p>Retorno: <span class="code">HTML</span></p>

  <li><h3>api/ids/grupo (GET)</h3></li>
  <p>Retorna un JSON con el id del grupo.</p>
  <p>Parámetros: Ningungo</p>
  <p>Retorno: <span class="code">{“id”: string}</span></p>

  <li><h3>api/ids/banco (GET)</h3></li>
  <p>Retorna un JSON con el id de la cuenta de banco del grupo.</p>
  <p>Parámetros: Ningungo</p>
  <p>Retorno: <span class="code">{“id”: string}</span></p>

  <li><h3>api/consultar/.:sku (GET)</h3></li>
  <p>Retorna un JSON con el stock del SKU sumando todas las bodegas de la empresa.</p>
  <p>Parámetros: Ningungo</p>
  <p>Retorno: <span class="code">{“stock”: int, “sku”: int}</span></p>
</ul>
