<div class="panel-footer">

   <div class="row">
     <div class="col-sm-4">
       <h4>Taller de Integración 2016-1</h4>
     </div>

     <div class="col-sm-4">

     </div>
     <div class="col-sm-4">
       <h4>Grupo 2</h4>
       <p>
        Jonathan Budnik </br>
        Gad Lewinsohn </br>
        Daniela Quiroz </br>
        Pedro Saratscheff </p>
     </div>

   </div>

</div>
